.listArea{
    margin-top: 40px;
    clear: both;
    overflow: hidden;
}

.newsList_item{
    border:1px solid #f2f2f2;
    background:#fff;
    margin:8px;
    padding:10;
    clear: both;
    overflow: hidden;
}
.newsList_item a {
    display: inline-block;
}
.newsList_item h2{
    font-size: 24px;
    line-height: 40px;
    margin: 5px 0;
    color: #525252;
}
.loadMore {
    border: 1px solid #ddd;
    cursor: pointer;
    background-color: #1e7e34;
    display: inline-block;
    clear: both;
    overflow: hidden;
    padding: 1px 10px;
    border-radius: 8px;
    color: #fff !important;
    font-weight: 500;
    font-size: 12px;
}
.moreButton {
    background: #fff;
}

.listImage,
.listPara{
    float: left;
}
.listImage {
    width: 280px;
}
.listPara {
    width: calc(100% - 280px);
}
.listImage img {
    width: 100%;
    padding: 10px;
}
.listPara p {
    color: #525252;
    line-height: 35px;
}
